provider:
  name: cloudflare
policy: upsert-only
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-token
        key: cloudflare-dns-token
sources:
  - gateway-httproute
  - gateway-tlsroute
  - gateway-tcproute
  - gateway-udproute